*{
    background-color: rgb(235, 233, 233);
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.fullpage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
}
.page{
    margin-top: 10em;
    margin-bottom: 10em;
    position: fixed; 
}
.screen{
    padding: .7em;
    border:2px solid gray ;
    
}