*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.fullpage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    
}
.allpages{
   
}
.page{
    margin-top: 10em;
    margin-bottom: 10em;
    position: fixed; 
}

.screen:active{
    border: none;
}
.number{
    margin-top: .5em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 50px 50px;
    grid-gap:9px;
}
.allbtns{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50px 50px;
    

}
.allmonitor{
    margin-bottom: .6em;
}
.monitor{
   /* border: none; */
   padding: .3em;
}
.keyboad{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: .4em;
    margin: .1em;
    color: white;
    background-color: rgb(165, 163, 163);
    border:none ;
    border-radius: 3px;
}
.btns{
    padding: .4em;
    margin: .1em;
    color: white;
    background-color: rgb(165, 163, 163);
    border:none ;
    border-radius: 3px;

}
